@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

body {
    background-color: rgb(238, 238, 238);
}

a.button,
button {
    border: 2px solid rgb(51, 51, 51);
     border-radius: 15px;
    cursor: pointer;
    border-radius: 15px;
}
