* {
  margin: 0;
  padding: 0;
}

body {
    max-width: 1300px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: linen;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #4CAF50;
    color: black;
  }
  
 
  body header nav span {
      text-align: right;
      float: right;
  }

  main h1 {
    margin: 12px;
    text-align: center;
    color: darkviolet;
  }

  #mainimage {
    background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0,0,0,0.7))
  }

  button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2528e0cc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  button:hover {background-color: #1b12a3e1}
  button:active {
    background-color: #2528e0cc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  footer article:nth-child(1) {
    float: left;
    font-size: 18px;
}

footer article:nth-child(2) {
    text-align: right;
  margin-right: 25px
}

footer {
    max-width: 1300px;
    background: #4CAF50;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

.fa, .fab, .fal, .far, .fas { 
  font-size: 25px;
}


