<main>
  <h1>Login Form</h1>
  <div class="form">
    <form action='/login' method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">

      <label for="password">Password</label>
      <input type="password" id="password" class="pass" name="password" style="width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;">
      <input type="submit" value="Login">
    </form>
  </div>
</main>