<h1>Register Form</h1>
<div class="form">
  <form action='/register' method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Min 5 letters">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="At least 8 Enlish letters and digits" style="width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;">

    <label for="repeatPassword">Re-Password</label>
    <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat the password above" style="width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;">
    <input type="submit" value="Register">
  </form>
</div>