{{#each monkeys}}
<div class="monkey">
    <h2>{{name}}</h2>
    <img src="{{image}}">
    <button onclick="info(this)">Info</button>
    <p id="paragraphInfo" style="display: none" id="{{id}}">
        {{info}}
    </p>
</div>
{{/each}}