header div, header nav {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    margin: 1em;
}

html {
font-family: Helvetica, sans-serif;
font-size: 16px;
line-height: 1.2;
background-color: #FFFFFF;
}

h1, h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

h1 {
    margin-right: 1.5em;
}

ul {
    list-style-type: none;
}

nav li a {
    color: #009644;
    text-decoration: none;
}

body {
    width: 80%;
    margin: 2em auto;
}