html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

section {
    display: flex;
    max-width: 70vw;
   justify-content: space-between;
}


article {
    width: 250px;
    margin: 50px;
}

body {
    display: flex;
    justify-content: center;
}
