ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(7, 0, 104);
    text-align: center;
  }

  li {
      float: left;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }

  li a:hover {
    background-color: rgb(3, 144, 27);
  }