.page-wrapper {
    height: 100vh;
    border: 20em solid  rgb(84, 174, 248);
    border-radius: 50%;
    border-right-width: 250px;
    border-left-width: 250px;
}

body {
    background-color:  rgb(84, 174, 248);
}

main {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(43,172,65,1) 50%, rgba(0,212,255,1) 100%);
    border: 3rem solid darkblue;
    border-radius: 50%;
    height: 93vh;
    box-shadow: 10px 10px 134px -8px rgba(0,0,0,0.75);
}